body,
ul,
dl,
dd,
p,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
table,
fieldset,
legend,
header,
footer,
nav,
menu,
figure,
figcaption,
hgroup {
    margin: 0;
    padding: 0
}

ul,
li,
ol {
    list-style: none
}

img,
fieldset {
    border: 0
}

img {
    display: block
}

a {
    text-decoration: none;
    color: #333
}

a:hover {
    color: red;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 100
}

body {
    font-family: "微软雅黑";
    background: #f5f5f5
}

input,
a {
    outline: none
}

#footer {
    width: 100%;
    height: 185px;
    /* background: lemonchiffon; */
}

.footers {
    width: 1190px;
    height: 213px;
    margin: 0 auto;
}

.footers-left {
    float: left;
    width: 200px;
    height: 213px;
    background: lightcoral;
}

.footers-left img {
    display: block;
    float: left;
    width: 112px;
    height: 40px;
    margin-top: 20px;
    margin-left: 10px;
}

.footers-left img:last-child {
    margin-top: 113px;
}

.footers-right {
    float: right;
    width: 920px;
    height: 213px;
    background: lightcoral;
}

.footers-right h3 {
    color: rgb(108, 108, 109);
    font-weight: 500;
}

.footers ul {
    float: left;
    margin: 15px;
}

.footers li {
    width: 150px;
}

.footers li a {
    font-size: 13px;
}

.footers ul h3 {
    margin: 10px 0;
    width: 150px;
}

.footers-rights {
    float: right;
    display: block;
    width: 105px;
    height: 105px;
    margin: 27px 45px 45px 45px;
}

.footers-rights img {
    margin-top: 10px;
}

.footers-bottom {
    float: left;
    width: 1190px;
    height: 200px;
}

.footers-bottom .bottomss {
    margin: 7px;
}

.bottomss a {
    display: block;
    float: left;
    width: auto;
    margin-right: 8px;
    color: black;
}

.bottomss a:hover {
    text-decoration: underline;
}

.bottomss li {
    float: left;
    width: auto;
}

.bottoms-one {
    float: left;
    width: 100%;
    font-size: 12px;
    margin: 2px 0;
}

.bottoms-one:nth-of-type(1) {
    margin-bottom: 8px;
}

.bottoms-one span {
    margin-right: 50px;
    margin-left: 5px;
}

.bottoms-five {
    float: left;
    width: 100%;
    font-size: 12px;
    margin-top: 10px;
    margin-left: 5px;
    color: #858383;
}

.bottoms-one {
    color: rgb(182, 182, 176);
}

.header {
    width: 100%;
    height: 88px;
    // background: lavenderblush;
}

.contaner {
    width: 100%;
    height: 600px;
    /* background: lightblue; */
}

.header-main {
    width: 1190px;
    height: 88px;
    /* background: lightblue; */
    margin: 0 auto;
}

.header-main a {
    padding-top: 30px;
    display: block;
    width: 190px;
    height: 28px;
    /* background: lightcoral; */
}

.header-main img {
    width: 190px;
    height: 28px;
}

.contaner-main {
    width: 1190px;
    height: 600px;
    background: lawngreen;
    margin: 0 auto;
    background: url(../img/TB1OmGZ4br1gK0jSZFDXXb9yVXa-1190-600.jpg);
}

.contaner-main-right {
    float: right;
    width: 350px;
    height: 390px;
    /* border: 1px solid black; */
    margin: 90px 70px;
    /* background: #d8d6d5; */
}

#login-box {
    /* width: 350px; */
    height: 300px;
    margin: 0 auto;
    margin-top: 5px;
    text-align: center;
    background: #ddcfcf90;
    padding: 0 50px;
}

#login-box h1 {
    color: #fff;
}

#login-box .form .item {
    margin-top: 15px;
}

#login-box .form .item i {
    font-size: 18px;
    color: #fff;
}

#login-box .form .item input {
    width: 200px;
    font-size: 18px;
    border: 0;
    border-bottom: 2px solid #fff;
    padding: 5px 10px;
    background: #ffffff00;
    color: #fff;
}

#login-box button {
    margin-top: 15px;
    width: 200px;
    height: 30px;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    border: 0;
    border-radius: 15px;
    outline: none;
    /* background: #1abc9c; */
    /* background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%); */
    background-image: linear-gradient(to right, #e4afcb 0%, #b8cbb8 0%, #b8cbb8 0%, #e2c58b 30%, #c2ce9c 64%, #7edbdc 100%);
}

.contaner-main-right p {
    margin-top: 18px;
    height: 30px;
    background: rgb(223, 221, 221);
    line-height: 30px;
}

.contaner-main-right p a {
    display: block;
    float: left;
    width: 70px;
    height: 30px;
}

.contaner-main-right p a:hover {
    border-bottom: 3px solid white;
    /* text-decoration-line: underline;
            text-decoration: 2px solid black; */
}

.contaner-main-right p a:first-child {
    font-size: 16px;
    margin-left: 55px;
}

.contaner-main-right p a:last-child {
    font-size: 16px;
    margin-left: 18px;
}

.contaner-main-right p a:hover #logins-box {
    display: none;
    background-color: red;
}

.lianjies {
    margin-left: 60px;
}

.lianjies li {
    padding-top: 20px;
    float: left;
}

.lianjies li a {
    font-size: 11px;
    margin: 5px;
}