    body,
    ul,
    dl,
    dd,
    p,
    ol,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    table,
    fieldset,
    legend,
    header,
    footer,
    nav,
    menu,
    figure,
    figcaption,
    hgroup {
        margin: 0;
        padding: 0
    }
    
    ul,
    li,
    ol {
        list-style: none
    }
    
    img,
    fieldset {
        border: 0
    }
    
    img {
        display: block
    }
    
    a {
        text-decoration: none;
        color: #333
    }
    
    a:hover {
        color: red;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: 100
    }
    
    body {
        font-family: "微软雅黑";
        background: #f5f5f5
    }
    
    input,
    a {
        outline: none
    }
    
    // .active {
    //     height: 80px;
    //     line-height: 80px;
    //     width: 1190px;
    //     margin: 0 auto;
    //     background: url("../images/3a81a14ade7d19fb.png.jpg");
    //     display: flex;
    //     justify-content: space-between
    // }
    // .logo {
    //     width: 190px;
    //     height: 80px;
    //     background: url("../images/14933547e09f1d2c.jpg.webp.jpg")
    // }
    // .logo-r {
    //     display: flex
    // }
    // .logo-1,
    // .logo-2 {
    //     display: flex;
    //     align-items: center;
    //     margin-right: 10px
    // }
    // .logo-1 img {
    //     border-radius: 20px
    // }
    // .logo-2 img {
    //     border-radius: 20px
    // }
    #header-nav {
        border-bottom: 1px solid #ddd;
        height: 30px;
        width: 100%;
        font-size: 12px
    }
    
    .nav_ul {
        width: 400px;
        height: 30px;
        line-height: 26px;
        // background: red;
    }
    
    .nav_ul a {
        margin: 5px;
    }
    
    .header-nav1 {
        border-bottom: 1px solid #ddd;
        background: lavender;
        width: 1190px;
        margin: 0 auto;
        z-index: 10;
    }
    
    .f1 i {
        color: red;
    }
    
    .nav_ul {
        float: left;
        height: 30px
    }
    
    .nav_ul2 {
        // background: lawngreen;
        position: relative;
        float: right;
        width: 500px;
        height: 30px;
        float: right;
        z-index: 99;
    }
    
    .ul2_child {
        display: none;
        position: relative;
    }
    
    .ul2_last {
        position: relative;
        display: none;
        z-index: 10;
    }
    
    .nav_ul2 .ul2_child li {
        width: 100px;
        color: yellow;
        background: yellowgreen;
    }
    
    .nav_ul2 .ul2_last li {
        width: 1190px;
        height: 100px;
        color: yellow;
        background: yellowgreen;
        margin-left: -1105px;
    }
    
    .nav_ul2 li:hover .ul2_child {
        display: block;
    }
    
    .nav_ul2 li:hover .ul2_last {
        display: block;
    }
    
    .nav_ul2 li {
        float: left;
        line-height: 30px;
        width: 67px;
        text-align: center;
    }
    
    .spacer {
        width: 1px;
        height: 12px;
        background: rgb(156, 155, 155);
        float: left;
        margin: 10px 6px 0 6px
    }
    
    .spacer2 {
        width: 1px;
        height: 14px;
        background: rgb(156, 155, 155);
        float: left;
        margin: 10px 6px 0 6px
    }
    
    #picture_b i {
        display: block;
        float: left;
        width: 10px;
        height: 10px;
        line-height: 10px;
        margin: 0 2px
    }
    
    * {
        margin: 0;
        padding: 0;
    }
    
    #one,
    #two,
    #three,
    #four,
    #five,
    #six,
    #seven,
    #eight,
    #nine,
    #ten,
    #eleven,
    #tweleve,
    #thirteen,
    #fourteen,
    #fiveteen,
    #six,
    #seventeen,
    #eighteen,
    #ninteen,
    #twenty {
        width: 100%;
        height: 600px;
        box-sizing: border-box;
        // border: 1px solid black;
        margin: 20px auto;
        text-align: center;
    }
    
    #floorNav {
        display: none;
        position: fixed;
        top: 300px;
        left: 300px;
        width: 50px;
        border: 1px solid #CECECE;
    }
    
    #floorNav li {
        position: relative;
        width: 50px;
        height: 26px;
        border-bottom: 1px solid #CECECE;
        text-align: center;
        line-height: 26px;
        font-size: 12px;
    }
    
    #floorNav span {
        /* display: none; */
        position: absolute;
        top: 0;
        left: 0;
        width: 50px;
        height: 32px;
        color: white;
    }
    
    #floorNav li:hover,
    #floorNav li.hover {
        /* display: block; */
        background: red;
    }
    
    #floorNav li:last-child {
        background: red;
        color: white;
        border-bottom: none;
    }
    
    //2. sosuo div
    #sosuo {
        width: 100%;
        height: 88px;
        box-sizing: border-box;
        // border: 1px solid red;
        z-index: 0;
    }
    
    .sosuo-main {
        width: 1190px;
        height: 88px;
        margin: 0 auto;
        // background: red;
    }
    
    #logo {
        width: 240px;
        height: 88px;
        float: left;
        // border: 1px solid red;
        // background: red;
        box-sizing: border-box;
    }
    
    #logo a img {
        display: block;
        width: 130px;
        height: 48px;
        margin-top: 20px;
        margin-left: 50px;
    }
    
    .biaoti {
        float: left;
        width: 150px;
        height: 88px;
        box-sizing: border-box;
    }
    
    .biaoti_one {
        // margin-top: 40px;
        text-align: center;
    }
    
    .big {
        width: 77px;
        height: 39px;
        border: 1px solid rgb(223, 217, 217);
        // box-sizing: border-box;
        text-align: center;
        line-height: 39px;
        margin-top: 20px;
        margin-left: 30px;
    }
    
    .big a {
        display: block;
    }
    
    .biaoti_one:hover .biaoti_two {
        display: block;
    }
    
    .biaoti_two {
        display: none;
        width: 400px;
        height: 300px;
        border: 1px solid black;
        position: relative;
        z-index: 50;
        background: lemonchiffon;
    }
    
    .sosuolan {
        float: left;
        width: 540px;
        height: 30px;
        // border: 1px solid black;
        box-sizing: border-box;
        margin-top: 26px;
    }
    
    .lianjie {
        float: left;
        width: 260px;
        height: 88px;
        // background: lavender;
        box-sizing: border-box;
        font-size: 13px;
        // margin-left: 20px;
    }
    
    .lianjie li {
        float: left;
        line-height: 88px;
        margin: 0 0 0 22px;
    }
    
    .lianjie li i {
        float: left;
        line-height: 90px;
        color: green;
    }
    
    .lianjie img {
        display: block;
        // float: left;
        margin-top: 25px;
    }
    
    .rights {
        display: block;
        float: right;
        margin-right: 320px;
        margin-top: -62px;
    }
    
    .bar1 {
        background: #0bec29;
    }
    
    .bar1 input {
        border: 2px solid#0bec29;
        border-radius: 5px;
        // background: #F9F0DA;
        color: #9E9C9C;
    }
    
    .bar1 button {
        top: 0;
        right: 0;
        background: #0bec29;
        border-radius: 0 5px 5px 0;
    }
    
    form {
        position: relative;
        margin: 0 auto;
    }
    
    //  input,
    // button {
    //     border: none;
    //     outline: none;
    // }
    .bar1 input {
        width: 97%;
        height: 30px;
        padding-left: 13px;
    }
    
    .bar1 button {
        height: 32px;
        width: 90px;
        border: none;
        cursor: pointer;
        position: absolute;
    }
    
    .bar1 button:before {
        // content: "\f002";
        font-family: FontAwesome;
        font-size: 16px;
        color: #0bec29;
    }
    
    //所有产品分类
    #header {
        width: 100%;
        height: 680px;
    }
    
    .header-main {
        width: 1190px;
        height: 680px;
        margin: 0 auto;
    }
    
    .header-connect li p a:hover {
        color: white;
    }
    
    h4 {
        float: left;
        width: 240px;
        height: 36px;
        background: black;
        color: white;
        text-align: center;
        line-height: 36px;
    }
    
    .main_one li a {
        display: block;
        float: left;
        width: 114px;
        height: 36px;
        line-height: 36px;
        text-align: center;
        // border: 1px solid red;
    }
    
    .main_one li a {
        font-size: 16px;
        font-weight: 500;
    }
    
    .main_one i {
        float: left;
        line-height: 36px;
    }
    
    .last {
        float: right;
        // background: lightblue;
        width: 150px;
    }
    
    .last_bottom {
        height: 200px;
        width: 150px;
        float: left;
        font-size: 15px;
        border: 1px solid black;
        display: none;
        background: white;
        border: 2px solid red;
    }
    
    .last_bottom li a {
        display: block;
        height: 20px;
        width: 33px;
        line-height: 20px;
        float: left;
        margin: 0 2px;
    }
    
    .last:hover .last_bottom {
        display: block;
    }
    
    .last:hover {
        width: 200px;
        position: relative;
        z-index: 10;
    }
    
    #header {
        // border: 1px solid black;
        height: 600px;
        width: 100%;
    }
    
    .header-main {
        width: 1190px;
        height: 600px;
        box-sizing: border-box;
        // background: lavender;
        margin: 0 auto;
        border: none;
    }
    
    // .header-connect {
    //     height: 670px;
    //     width: 240px;
    //     border: 1px solid black;
    //     margin-top: 37px;
    //     box-sizing: border-box;
    // }
    .header-connect li {
        // border: 1px solid black;
        height: 66px;
        width: 240px;
        background: white;
    }
    
    .header-connect li:hover {
        background: red;
    }
    
    .header-connect li:hover i {
        color: white;
    }
    
    .header-left {
        width: 400px;
        height: 400px;
        background: red;
        margin-left: 240px;
        margin-top: -65px;
        display: none;
    }
    
    .header-connect li a {
        // display: block;
        width: 240px;
        // height: 73px;
        // background: red;
        text-align: center;
        line-height: 30px;
    }
    
    .header-connect li p {
        height: 30px;
        width: 240px;
        line-height: 30px;
        // background: lawngreen;
        // text-align: center;
        margin: 2px;
    }
    
    .header-connect li:hover .header-left {
        display: block;
        position: relative;
        z-index: 10;
    }
    
    .swiper-container {
        float: left;
        width: 760px;
        height: 290px;
        // background: red;
        // margin-left: 200px;
        // margin-top: -625px;
        border: 1px solid black;
    }
    
    .swiper-slide {
        background-position: center;
        background-size: cover;
    }
    
    // .header-right {
    //     float: right;
    //     width: 188px;
    //     height: 340px;
    //     background: red;
    //     margin-top: -300px;
    // }
    .header-one {
        float: left;
        width: 100%;
        height: 35px;
        // background: lawngreen;
    }
    
    .header-two {
        float: left;
        width: 240px;
        height: 540px;
        background: lemonchiffon;
    }
    
    .header-two li:hover i:first-child {
        color: white;
    }
    
    .header-two li p i:first-child {
        float: left;
        margin-left: 30px;
        line-height: 48px;
        font-size: 20px;
        color: red;
        margin-right: 10px;
    }
    
    .header-two li p i:last-child {
        float: right;
        margin-right: 20px;
        font-size: 25px;
    }
    
    .header-two li p span {
        font-size: 13px;
        color: rgb(233, 229, 229);
        // margin-left: 55px;
    }
    
    .header-two li p:first-child {
        line-height: 45px;
    }
    
    .header-right {
        float: right;
        width: 188px;
        height: 340px;
        background: lightcyan;
    }
    
    .header-bottom {
        float: left;
        width: 760px;
        height: 128px;
        // background: lightsalmon;
        // box-sizing: border-box;
    }
    
    .header-bottom li {
        float: left;
        width: 250px;
        height: 128px;
        // border: 1px solid black;
        box-sizing: border-box;
    }
    
    .header-bottom li img {
        height: 126px;
    }
    
    .header-bottom a {
        display: block;
        width: 249px;
        height: 130px;
    }
    
    .header-right li {
        float: left;
        width: 188px;
        height: 170px;
        box-sizing: border-box;
    }
    
    .header-right a {
        display: block;
        width: 188px;
        height: 170px;
    }
    
    .ones {
        width: 1190px;
        height: 600px;
        margin: 0 auto;
        // background: red;
    }
    
    .ones h4 {
        width: 1190px;
        text-align: left;
        font-weight: 700;
        background: white;
        color: black;
        font-size: 20px;
        border-bottom: 2px solid black;
    }
    
    .ones-left {
        float: left;
        width: 240px;
        height: 260px;
        background: yellow;
        font-size: 12px;
    }
    
    .ones-left a {
        float: left;
        display: block;
        width: 57px;
        height: 57px;
        line-height: 57px;
        border-radius: 50%;
        // border: 1px solid black;
        background: white;
        text-align: center;
        margin: 5px;
    }
    
    .ones-lefts {
        float: left;
        width: 240px;
        height: 560px;
        background: yellow;
        font-size: 12px;
    }
    
    .ones-left2 a {
        display: block;
        width: 240px;
        height: 200px;
        background: lawngreen;
    }
    
    .ones-left2 img {
        width: 240px;
        height: 300px;
    }
    
    .ones-left a:hover {
        background: lightblue;
    }
    
    .ones-left a:first-child {
        margin-left: 30px;
        margin-top: 30px;
    }
    
    .ones-left a:nth-of-type(2) {
        margin-top: 30px;
    }
    
    .ones-left a:nth-of-type(3) {
        margin-top: 30px;
    }
    
    .ones-left a:nth-of-type(4) {
        margin-left: 30px;
    }
    
    .ones-left a:nth-of-type(7) {
        margin-left: 30px;
    }
    
    .shangpin {
        background: lavender;
        float: left;
        width: 800px;
        height: 560px;
    }
    
    .shangpin li {
        float: left;
    }
    
    .shangpin li {
        width: 200px;
        height: 278px;
        border-left: 1px solid rgb(185, 181, 181);
        box-sizing: border-box;
    }
    
    .shangpin li img {
        width: 160px;
        height: 160px;
        text-align: center;
        margin: 17px;
    }
    
    .shangpin li span {
        display: block;
        float: left;
        text-align: center;
        font-size: 14px;
        margin-left: 27px;
        margin-top: 10px;
        color: rgb(223, 217, 217);
    }
    
    .shangpin li span:nth-of-type(2) {
        // background: red;
        font-size: 20px;
        margin-left: 10px;
        color: black;
    }
    
    .shangpin li i {
        background: red;
        width: 50px;
        height: 50px;
        line-height: 50px;
        border-radius: 50%;
        color: white;
        float: right;
        font-size: 30px;
        margin-right: 18px;
    }
    
    .ones-right {
        float: left;
        width: 150px;
        height: 560px;
        // background: yellowgreen;
    }
    
    .ones-rights {
        float: left;
        width: 150px;
        height: 260px;
        // background: lightcoral;
        margin-top: 5px;
    }
    
    .ones-right a img {
        width: 150px;
        margin-top: -20px;
    }
    
    .ones-right img:first-child {
        position: relative;
        z-index: 100;
    }
    
    .ones-right a {
        display: block;
        position: relative;
        z-index: 0;
    }
    
    .ones-right a img {
        height: 278px;
    }
    
    #bottom {
        width: 100%;
        height: 176px;
        // background: yellowgreen;
        margin-top: 10px;
        border-top: 2px solid #CECECE;
    }
    
    .bottoms {
        width: 1190px;
        height: 176px;
        // background: royalblue;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .bottoms ul {
        display: flex;
        justify-content: center;
    }
    
    .bottoms ul h3 {
        line-height: 40px;
        color: red;
        font-weight: 600;
    }
    
    .bottoms ul i {
        margin-left: 24px;
        color: red;
        margin-right: 7px;
        font-size: 19px;
        font-weight: 500;
    }
    
    .bottoms ul li {
        width: 238px;
        height: 135px;
        box-sizing: border-box;
        background-color: white;
        border-right: 1px solid rgb(223, 217, 217);
    }
    
    .bottoms ul li a {
        margin: 28px;
        font-size: 12px;
    }
    
    .bottoms ul li a:hover {
        text-decoration-line: underline;
    }
    
    #footer {
        width: 100%;
        height: 393px;
        // background: lemonchiffon;
    }
    
    .footers {
        width: 1190px;
        height: 213px;
        margin: 0 auto;
        // background: lightblue;
    }
    
    .footers-left {
        float: left;
        width: 180px;
        height: 213px;
        // background: lightcoral;
    }
    
    .footers-left img {
        display: block;
        float: left;
        width: 112px;
        height: 40px;
        margin-top: 20px;
        margin-left: 10px;
    }
    
    .footers-left img:last-child {
        margin-top: 113px;
    }
    
    .footers-right {
        float: right;
        width: 920px;
        height: 213px;
        // background: lightcoral;
    }
    
    .footers-right h3 {
        color: rgb(108, 108, 109);
        font-weight: 500;
    }
    
    .footers ul {
        float: left;
        // background: lightgray;
        margin: 15px;
    }
    
    .footers li {
        width: 150px;
    }
    
    .footers li a {
        font-size: 13px;
        // color: lightgrey;
    }
    
    .footers ul h3 {
        margin: 10px 0;
        width: 150px;
        // background: red;
    }
    
    .footers-rights {
        float: right;
        display: block;
        width: 105px;
        height: 105px;
        // background: lightblue;
        margin: 27px 45px 45px 45px;
    }
    
    .footers-rights img {
        margin-top: 10px;
    }
    
    .footers-bottom {
        float: left;
        width: 1190px;
        height: 180px;
        background: red;
    }
    
    .footers-bottom .bottomss {
        // background: lightblue;
        margin: 7px;
    }
    
    .bottomss a {
        display: block;
        float: left;
        width: auto;
        margin-right: 5px;
        color: white;
    }
    
    .bottomss a:hover {
        text-decoration: underline;
    }
    
    .bottomss li {
        float: left;
        width: auto;
    }
    
    .bottoms-one {
        float: left;
        width: 100%;
        // background: lightblue;
        font-size: 12px;
        margin: 2px 0;
    }
    
    .bottoms-one:nth-of-type(1) {
        margin-bottom: 8px;
    }
    
    .bottoms-one span {
        margin-right: 50px;
        margin-left: 5px;
    }
    
    .bottoms-five {
        float: left;
        width: 100%;
        // background: lightblue;
        font-size: 12px;
        margin-top: 10px;
        margin-left: 5px;
        color: #858383;
    }
    
    .bottoms-one {
        color: rgb(182, 182, 176);
    }