body,
ul,
dl,
dd,
p,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
table,
fieldset,
legend,
header,
footer,
nav,
menu,
figure,
figcaption,
hgroup {
    margin: 0;
    padding: 0
}

ul,
li,
ol {
    list-style: none
}

img,
fieldset {
    border: 0
}

img {
    display: block
}

a {
    text-decoration: none;
    color: #333
}

a:hover {
    color: red;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 100
}

body {
    font-family: "微软雅黑";
    background: #f5f5f5
}

input,
a {
    outline: none
}

// .active {
//     height: 80px;
//     line-height: 80px;
//     width: 1190px;
//     margin: 0 auto;
//     background: url("../images/3a81a14ade7d19fb.png.jpg");
//     display: flex;
//     justify-content: space-between
// }
// .logo {
//     width: 190px;
//     height: 80px;
//     background: url("../images/14933547e09f1d2c.jpg.webp.jpg")
// }
// .logo-r {
//     display: flex
// }
// .logo-1,
// .logo-2 {
//     display: flex;
//     align-items: center;
//     margin-right: 10px
// }
// .logo-1 img {
//     border-radius: 20px
// }
// .logo-2 img {
//     border-radius: 20px
// }
#header-nav {
    border-bottom: 1px solid #ddd;
    height: 30px;
    width: 100%;
    font-size: 12px
}

.nav_ul {
    width: 400px;
    height: 30px;
    line-height: 26px;
    // background: red;
}

.nav_ul a {
    margin: 5px;
}

.header-nav1 {
    border-bottom: 1px solid #ddd;
    background: lavender;
    width: 1190px;
    margin: 0 auto;
    z-index: 10;
}

.f1 i {
    color: red;
}

.nav_ul {
    float: left;
    height: 30px
}

.nav_ul2 {
    // background: lawngreen;
    position: relative;
    float: right;
    width: 500px;
    height: 30px;
    float: right;
    z-index: 99;
}

.ul2_child {
    display: none;
    position: relative;
}

.ul2_last {
    position: relative;
    display: none;
    z-index: 10;
}

.nav_ul2 .ul2_child li {
    width: 100px;
    color: yellow;
    background: yellowgreen;
}

.nav_ul2 .ul2_last li {
    width: 1190px;
    height: 100px;
    color: yellow;
    background: yellowgreen;
    margin-left: -1105px;
}

.nav_ul2 li:hover .ul2_child {
    display: block;
}

.nav_ul2 li:hover .ul2_last {
    display: block;
}

.nav_ul2 li {
    float: left;
    line-height: 30px;
    width: 67px;
    text-align: center;
}

.spacer {
    width: 1px;
    height: 12px;
    background: rgb(156, 155, 155);
    float: left;
    margin: 10px 6px 0 6px
}

.spacer2 {
    width: 1px;
    height: 14px;
    background: rgb(156, 155, 155);
    float: left;
    margin: 10px 6px 0 6px
}

#picture_b i {
    display: block;
    float: left;
    width: 10px;
    height: 10px;
    line-height: 10px;
    margin: 0 2px
}

#sosuo {
    width: 100%;
    height: 88px;
    box-sizing: border-box;
    // border: 1px solid red;
    z-index: 0;
}

.sosuo-main {
    width: 1190px;
    height: 88px;
    margin: 0 auto;
    // background: red;
}

#logo {
    width: 240px;
    height: 88px;
    float: left;
    // border: 1px solid red;
    // background: red;
    box-sizing: border-box;
}

#logo a img {
    display: block;
    width: 130px;
    height: 48px;
    margin-top: 20px;
    margin-left: 50px;
}

.biaoti {
    float: left;
    width: 150px;
    height: 88px;
    box-sizing: border-box;
}

.biaoti_one {
    // margin-top: 40px;
    text-align: center;
}

.big {
    width: 77px;
    height: 39px;
    border: 1px solid rgb(223, 217, 217);
    // box-sizing: border-box;
    text-align: center;
    line-height: 39px;
    margin-top: 20px;
    margin-left: 30px;
}

.big a {
    display: block;
}

.biaoti_one:hover .biaoti_two {
    display: block;
}

.biaoti_two {
    display: none;
    width: 400px;
    height: 300px;
    border: 1px solid black;
}

.sosuolan {
    float: left;
    width: 540px;
    height: 30px;
    // border: 1px solid black;
    box-sizing: border-box;
    margin-top: 26px;
}

.lianjie {
    float: left;
    width: 260px;
    height: 88px;
    // background: lavender;
    box-sizing: border-box;
    font-size: 13px;
    // margin-left: 20px;
}

.lianjie li {
    float: left;
    line-height: 88px;
    margin: 0 0 0 22px;
}

.lianjie li i {
    float: left;
    line-height: 90px;
    color: green;
}

.lianjie img {
    display: block;
    // float: left;
    margin-top: 25px;
}

.rights {
    display: block;
    float: right;
    margin-right: 320px;
    margin-top: -62px;
}

.bar1 {
    background: #A3D0C3;
}

.bar1 input {
    border: 2px solid #0bec29;
    border-radius: 5px;
    background: #fdfcf9;
    color: #9E9C9C;
}

.bar1 button {
    top: 0;
    right: 0;
    background: #27e016;
    border-radius: 0 5px 5px 0;
}

form {
    position: relative;
    margin: 0 auto;
}

//  input,
// button {
//     border: none;
//     outline: none;
// }
.bar1 input {
    width: 97%;
    height: 30px;
    padding-left: 13px;
}

.bar1 button {
    height: 32px;
    width: 90px;
    border: none;
    cursor: pointer;
    position: absolute;
}

.bar1 button:before {
    // content: "\f002";
    font-family: FontAwesome;
    font-size: 16px;
    color: #F9F0DA;
}

//所有产品分类
#header {
    width: 100%;
    height: 40px;
}

.header-main {
    width: 1190px;
    //  height: 680px;
    margin: 0 auto;
}

.header-connect li p a:hover {
    color: white;
}

h4 {
    float: left;
    width: 240px;
    height: 36px;
    background: black;
    color: white;
    text-align: center;
    line-height: 36px;
}

.main_one li a {
    display: block;
    float: left;
    width: 114px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    // border: 1px solid red;
}

.main_one li a {
    font-size: 16px;
    font-weight: 500;
}

.main_one i {
    float: left;
    line-height: 36px;
}

.last {
    float: right;
    // background: lightblue;
    width: 150px;
}

.last_bottom {
    height: 200px;
    width: 150px;
    float: left;
    font-size: 15px;
    border: 1px solid black;
    display: none;
    background: white;
    border: 2px solid red;
}

.last_bottom li a {
    display: block;
    height: 20px;
    width: 33px;
    line-height: 20px;
    float: left;
    margin: 0 2px;
}

// .last:hover .last_bottom {
//     display: block;
//     position: relative;
//     z-index: 10;
// }
.last_bottom {
    position: relative;
    z-index: 10;
}

.last:hover {
    float: right;
    width: 200px;
}

* {
    margin: 0;
    padding: 0;
}

.main {
    width: 100%;
    height: 604px;
    position: relative;
    z-index: 5;
    // background: lawngreen;
}

.mains {
    width: 1190px;
    height: 604px;
    // background: lightblue;
    margin: 0 auto;
}

.mains-left {
    float: left;
    width: 420px;
    height: 420px;
    background: lightcoral;
}

.mains-right {
    position: relative;
    z-index: 0;
    float: right;
    width: 540px;
    height: 477px;
    // background-color: lightgoldenrodyellow;
    border-right: 1px solid rgb(189, 189, 189);
    margin-right: 210px;
}

.mains-left img {
    width: 420px;
    height: 420px;
}

.mains-bottom {
    float: left;
    width: 446px;
    height: 82px;
    // background: lightgreen;
}

.mains>p:last-child {
    float: left;
    width: 65%;
    margin-top: 40px;
    // background: lightsalmon;
    color: rgb(189, 189, 189);
}

.mains p span {
    float: right;
    margin-right: 400px;
    font-size: 13px;
    color: rgb(189, 189, 189);
}

.mains p b {
    float: left;
    font-size: 12px;
}

.mains-bottom li {
    float: left;
    width: 60px;
    height: 60px;
    margin: 10px 13px;
}

.mains-bottom li:hover {
    border: 1px solid red;
}

.mains-bottom img {
    width: 60px;
    height: 60px;
}

.mains-right h3 {
    width: 100%;
    font-weight: 500;
    margin-left: 10px;
}

.mains-right>span {
    color: red;
    font-size: 13px;
    margin-left: 10px;
}

.jiage {
    width: 100%;
    height: 50px;
    // background: lightblue;
}

.jiage>span {
    font-size: 13px;
    margin-right: 50px;
    line-height: 30px;
    margin-left: 10px;
}

.mains-right .jiage b {
    font-size: 25px;
    font-weight: 600;
    color: red;
    line-height: 50px;
}

.mains-right p {
    float: left;
    height: 30px;
    // background: red;
    width: 100%;
    line-height: 30px;
    margin-left: 10px;
}

.mains-right p:nth-of-type(1) span {
    float: left;
    display: block;
    width: 60px;
    height: 30px;
    // background: lightblue;
    margin: 0;
    line-height: 30px;
}

.mains-right i:nth-of-type(2) {
    margin-right: 30px;
}

.mains-right p:nth-of-type(2) span {
    float: left;
    display: block;
    width: 60px;
    height: 30px;
    // background: lightblue;
    margin: 0;
    line-height: 30px;
}

.pingjia {
    float: left;
    width: 95%;
    height: 50px;
    background: white;
    margin-left: 10px;
    line-height: 50px;
    font-size: 12px;
}

.pingjia a {
    display: block;
    float: left;
    width: 50%;
    text-align: center;
    border-right: 2px solid whitesmoke;
    box-sizing: border-box;
    border-top: 1px dashed rgb(219, 212, 212);
    border-bottom: 1px dashed rgb(218, 215, 215);
}

.pingjia b {
    color: red;
}

.pingjia span {
    font-weight: 600;
}

.shuliang {
    float: left;
    width: 95%;
    height: 50px;
    // background: lightgreen;
    margin-left: 10px;
    line-height: 50px;
}

.shuliang span {
    float: left;
    line-height: 50px;
    margin-right: 50px;
}

.shuliang input[type=text] {
    width: 40px;
    height: 32px;
    float: left;
    margin-top: 8px;
    text-align: center;
    border: 1px solid rgb(224, 221, 221);
}

.anniu {
    margin-left: 5px;
    float: left;
    width: 30px;
    height: 35px;
    // background: lightsalmon;
    margin-top: 8px;
    text-align: center;
}

.anniu input[type=button] {
    float: left;
    width: 20px;
    height: 17px;
    background-color: white;
    border: 1px solid rgb(224, 221, 221);
}

.mains-right button {
    width: 250px;
    height: 50px;
    background: red;
    margin-left: 90px;
    border: 1px solid rgb(224, 221, 221);
    font-size: 18px;
    color: white;
    margin-top: 10px;
    outline-style: none;
}

.mains-right p:last-child {
    margin-top: 50px;
    width: 95%;
    font-size: 12px;
    line-height: 15px;
    color: rgb(189, 189, 189);
}